/* font-family: 'Aref Ruqaa Ink', serif;
font-family: 'Barlow', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Ms Madi', cursive;
font-family: 'Passions Conflict', cursive;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Reem Kufi Ink', sans-serif;
font-family: 'Roboto', sans-serif; */
@font-face {
    font-family: 'adelia';
    src: url('../font/adelia.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Alexandra';
    src: url('../font/Alexandra.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Thank_you';
    src: url('../font/Thank\ you.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    
}
a,li {
    text-decoration: none; 
}
.header {
    /* background: url(../img/miloacc-50.JPG); */
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}
    .menu {
        background: rgba(67, 64, 64, 0.3);
        padding: 0 15px;
        display: flex;
        flex-flow: row;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }
        .logo-img {
            padding: 0.8vh;
            height: 10vh;
        }

        .nav-header {
            flex: grow 2;
        }
        .nav-header ul {
            display:flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
        .nav-header ul li {
            flex: 5 1 auto;
            text-align: center;
            list-style: none;
        }
            .nav-header ul li a {
                color:#ffffff;
                font-size: 0.75em;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
            .nav-header ul li a:hover {
                color: rgb(97, 206, 231); 
                font-weight: bolder;
                text-shadow: black 0.1em 0.1em 0.2em
            }
            .nav-header ul li ul {
                display:none;
                position: absolute;
                width: fit-content;
                padding: 15px;
            }
            .nav-header ul li ul li {
                padding: 10px;
                text-align: left;
            }
            .nav-header li:hover > ul {
                display:block;
                background: rgba(131, 126, 126, 0.3);
                border-bottom: 1pxsolid rgba(255, 255, 255, 0.237);
            }

            
.footer {
    /* background: #f7f7f7; */
    background: rgba(67, 64, 64, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 3vh;;
}
    .subtitulo{
        font-size: 0.9em;
        width: 80%;
    }
    .subtitulo span {
        font-family: adelia;
        font-size: 1em;
    }
    .social {
        display: flex;
    }
        .social a{
            flex: 1 1 auto;
            font-size: 1.5em;
            color:#6e43ee;
            padding: 0 10px;
        }
        .social a:hover {
            color: rgb(97, 206, 231); 
            font-weight: bolder;
            text-shadow: black 0.1em 0.1em 0.2em
        }
        
    

 /* MEDIA QUERY  */
@media all and (max-width: 1120px) {
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column nowrap;
        height: auto;
    }
    .aside {
        display:flex;
        justify-content: center;
    }
    h1{
        font-size:15px;
    }
    .texto-principal {
        height: 450px;
    }
}

@media all and (max-width: 950px) {
    .nav-header ul li {
        flex-direction: row;
    }
    .aside {
        display:flex;
        justify-content: center;
    }
    h1{
        font-size:15px;
    }
    .texto-principal {
        height: 450px;
    }
    .form-Newsletter {
        width: 50%;
    }
    
}

@media all and (max-width: 750px) {
    .menu {
        flex-direction: column;
        height: auto;
    }
    .articulos {
        flex-direction: column;
    }
    .off {
        display: none;
    }
    .nav a {
        font-size: 20px;
    }
    .nav-header ul li ul {
        display:none;
        position: absolute;
        width: fit-content;
        padding: 10px;
    }
    .nav-header ul li ul li {
        padding: 1px;
        text-align: left;
    }
    
    .form-Newsletter {
        width: 60%;
    }
    .fieldset-Newsletter input.envio-Newsletter  {
        width:50%;
    }  
}

@media all and (max-width: 600px) {
    .aside {
        flex-direction: column;
    }
    .form-Newsletter {
        width: 80%;
    }
    .fieldset-Newsletter input.envio-Newsletter  {
        width:35%;
    }            
}