/* font-family: 'Aref Ruqaa Ink', serif;
font-family: 'Barlow', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Ms Madi', cursive;
font-family: 'Passions Conflict', cursive;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Reem Kufi Ink', sans-serif;
font-family: 'Roboto', sans-serif; */
@font-face {
    font-family: 'adelia';
    src: url('../font/adelia.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Alexandra';
    src: url('../font/Alexandra.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Thank_you';
    src: url('../font/Thank\ you.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    
}
a,li {
    text-decoration: none; 
}
.header {
    background: url(../img/miloacc-50.JPG);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}
    .menu {
        /* background: #f07dea; */
        background: rgba(67, 64, 64, 0.3);
        display: flex;
        /* flex-flow: row; */
        /* flex-flow: row nowrap; */
        flex-flow: row;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }
        .logo {
            color:#ffffff;
            margin:0 0 0 10px;
            /* font-family: 'Qwitcher Grypen', cursive; */
            font-family: 'Alexandra';
            font-size: 2em;
            font-weight: lighter;
            letter-spacing: 4px;
        }
        .logo:hover {
            color: rgb(97, 206, 231); 
            font-weight: bolder;
            text-shadow: black 0.1em 0.1em 0.2em
        }
        .nav-header {
            flex: grow 2;
        }
        .nav-header ul {
            display:flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
        .nav-header ul li {
            flex: 5 1 auto;
            text-align: center;
            list-style: none;
        }
            .nav-header ul li a {
                color:#ffffff;
                font-size: 0.75em;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
            .nav-header ul li a:hover {
                color: rgb(97, 206, 231); 
                font-weight: bolder;
                text-shadow: black 0.1em 0.1em 0.2em
            }
            .nav-header ul li ul {
                display:none;
                position: absolute;
                width: fit-content;
                margin-left: 30px;
                padding: 5px;
            }
            .nav-header li:hover > ul {
                display:block;
            }


        .social {
            display: flex;
        }
            .social a{
                /* flex: 1 1 auto; */
                font-size: 18px;
                color:#ffffff;
                padding: 0 10px;
            }
            .social a:hover {
                color: rgb(97, 206, 231); 
                font-weight: bolder;
                text-shadow: black 0.1em 0.1em 0.2em
            }
    .texto-principal {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
        .texto-principal h1.h1-principal{
            font-family: 'Aref Ruqaa Ink', serif;
            text-shadow: black 0.1em 0.1em 0.2em;
            font-size: 2em;
            color:#ffffff;
            font-weight: 300;
            text-align: center;
            letter-spacing: 5px;

        }
.padre {
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno {
    padding: 0 20px;
}
    
    .section_previa {
        background: #e8e3e3;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        /* margin: 10px 0px; */
    }     
            .section_previa h2{
                color:#7a7676;
                font-size: 2em;
                margin: 40px 0;
                text-shadow:none;
                font-weight: 400;
                /* text-transform: uppercase; */
                text-align: center;
                font-family: 'Thank_you';
            }

    .section {
        background: #e8e3e3;
        display: flex;
    }
        .articulos {
            background: #e8e3e3;
            display: flex;
            flex-flow: row wrap;
        }
            .article {
                flex: 1 1 45%;
                background: #ececec;
                margin:0.5em;
            }
            .article .enlace-productos{
                display: inline-block;
                background: #bfd7dd;
            }
            .article img {
                width: 100%;
            }
            .article p{
                padding: 5px 10px;
                font-weight: 400;
                text-transform: uppercase;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 5px;
            }
            .article h3 {
                color:#fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
                margin-left: 10px;
            }
            .article h2 {
                color:#ffff;
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0px 10px 0px;
                margin-left: 10px;
            }
            .article h2:hover {
                color:cornflowerblue;
            }
            .article .enlace-productos:hover{
                background: #cbd0e2;
                opacity: 0.7;
                border: 0.03em solid #908e96;
            }
    .aside-inferior {
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        width: 100%;
    }     
        .aside-inferior h3 {
            color:#000;
            padding: 2em;
            font-weight: 400;
        }   
            .aside-inferior span {
                color: cornflowerblue;
                font-weight: 800;
            }
        .form-Newsletter {
            color: #6d6c5d;
            padding:10px;
            margin-bottom: 50px;
            font-size: 0.9em;
            background-color: #edebdb;
            font-family: 'Dosis', sans-serif;
            width: 30%;
        }
            .fieldset-Newsletter {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                padding: 1em;
                border: none;
            }

                .fieldset-Newsletter div {
                    padding: 5px;
                    display:flex;
                    justify-content:space-between;
                    width: 100%;
                }

                .fieldset-Newsletter div input {
                    font-family: 'Dosis', sans-serif;
                    width: 50%;
                    border: none;
                    margin-left: 20px ;
                }
                .fieldset-Newsletter div input#txtFNac {
                    width: 40%;
                    
                }
                .fieldset-Newsletter div input#casillas {
                    width: 10%;
                }
                .fieldset-Newsletter input.envio-Newsletter  {
                    margin-top: 10px;
                    padding:5px;
                    width:25%;
                    background-color: #cdcbb4;
                    border-radius: 10%;
                    border: #cdcbb4 1px solid;
                    align-self: center;


                }            

            
    .footer {
        background: #f7f7f7;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        /* margin-top: 5px; */
    }
        .pie {
            /* background: #B2A4FF; */
            text-align: center;
        }
        .pie a{
            color:rgb(89, 22, 73);
            font-size: 11px;
            text-transform: uppercase;
            padding: 10px;
            letter-spacing: 2px;
        }

/*  ESTILOS DE LA PAGINA CONTACTO.HTML */
    .header-contacto {
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }    
    #main-contacto {
        background: #e8e3e3;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }  
        .escribenos {
            flex: 2 1 auto;
            text-align: center;
        }

        .datos-contacto {
            flex: 1 1 auto;
            text-align: center;
        }

    

 /* MEDIA QUERY  */
@media all and (max-width: 1120px) {
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column nowrap;
        height: auto;
    }
    .aside {
        display:flex;
        justify-content: center;
    }
    h1{
        font-size:15px;
    }
    .texto-principal {
        height: 450px;
    }
}

@media all and (max-width: 950px) {
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column nowrap;
        height: auto;
    }
    .nav-header ul li {
        flex-direction: row;
    }
    .aside {
        display:flex;
        justify-content: center;
    }
    h1{
        font-size:15px;
    }
    .texto-principal {
        height: 450px;
    }
}

@media all and (max-width: 750px) {
    .menu {
        flex-direction: column;
        height: auto;
    }
    .articulos {
        flex-direction: column;
    }
    .off {
        display: none;
    }
    .nav a {
        font-size: 20px;
    }
}

@media all and (max-width: 400px) {
    .aside {
        flex-direction: column;
    }
}
