/* font-family: 'Aref Ruqaa Ink', serif;
font-family: 'Barlow', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Ms Madi', cursive;
font-family: 'Passions Conflict', cursive;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Reem Kufi Ink', sans-serif;
font-family: 'Roboto', sans-serif; */
@font-face {
    font-family: 'adelia';
    src: url('../font/adelia.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Alexandra';
    src: url('../font/Alexandra.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Thank_you';
    src: url('../font/Thank\ you.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    
}
a,li {
    text-decoration: none; 
}
.header {
    background: url(../img/miloacc-50.JPG);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}
    .menu {
        background: rgba(67, 64, 64, 0.3);
        display: flex;
        flex-flow: row;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }
        .logo-img {
            padding: 0.8vh;
            height: 10vh;
        }

        .nav-header {
            flex: grow 2;
        }
        .nav-header ul {
            display:flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
        .nav-header ul li {
            flex: 5 1 auto;
            text-align: center;
            list-style: none;
        }
            .nav-header ul li a {
                color:#ffffff;
                font-size: 0.75em;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
            .nav-header ul li a:hover {
                color: rgb(97, 206, 231); 
                font-weight: bolder;
                text-shadow: black 0.1em 0.1em 0.2em
            }
            .nav-header ul li ul {
                display:none;
                position: absolute;
                width: fit-content;
                padding: 15px;
            }
            .nav-header ul li ul li {
                padding: 10px;
                text-align: left;
            }
            .nav-header li:hover > ul {
                display:block;
                background: rgba(131, 126, 126, 0.3);
                border-bottom: 1pxsolid rgba(255, 255, 255, 0.237);

            }

    .texto-principal {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .texto-principal h1.h1-principal{
            font-family: 'Alexandra';
            text-shadow: black 0.1em 0.1em 0.6em;
            font-size: 4em;
            color:#ffffff;
            font-weight: 100;
            text-align: center;
            letter-spacing: 5px;

        }
.padre {
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno {
    padding: 0 20px;
}
    
    .section_previa {
        background: #e8e3e3;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }     
            .section_previa h2{
                color:#7a7676;
                font-size: 2em;
                margin: 40px 0;
                text-shadow:none;
                font-weight: 400;
                text-align: center;
                font-family: 'Thank_you';
            }

    .section {
        background: #e8e3e3;
        display: flex;
    }
        .articulos {
            background: #e8e3e3;
            display: flex;
            flex-flow: row wrap;
        }
            .article {
                flex: 1 1 45%;
                background: #ececec;
                margin:0.5em;
            }
            .article .enlace-productos{
                display: inline-block;
                background: #bfd7dd;
            }
            .article img {
                width: 100%;
            }
            .article p{
                padding: 5px 10px;
                font-weight: 400;
                text-transform: uppercase;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 5px;
            }
            .article h3 {
                color:#fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
                margin-left: 10px;
            }
            .article h2 {
                color:#ffff;
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0px 10px 0px;
                margin-left: 10px;
            }
            .article h2:hover {
                color:cornflowerblue;
            }
            .article .enlace-productos:hover{
                background: #cbd0e2;
                opacity: 0.7;
                border: 0.03em solid #908e96;
            }

    /* ESTILO DEL FORMULARIO PARA EL NEWSLETTER */
    .aside-inferior {
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        width: 100%;
    }     
        .aside-inferior h3 {
            color:#000;
            padding: 2em;
            font-weight: 400;
        }   
            .aside-inferior span {
                color: cornflowerblue;
                font-weight: 800;
            }
        .form-Newsletter {
            color: #6d6c5d;
            padding:10px;
            margin-bottom: 50px;
            font-size: 0.9em;
            background-color: #edebdb;
            font-family: 'Dosis', sans-serif;
            width: 40%;
        }
            .fieldset-Newsletter {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                padding: 1em;
                border: none;
            }

                .fieldset-Newsletter div.item-formulario {
                    padding: 5px;
                    display:flex;
                    justify-content:space-between;
                    width: 100%;
                }

                .fieldset-Newsletter legend {
                    text-align: center;
                }

                .fieldset-Newsletter div.item-formulario input {
                    font-family: 'Dosis', sans-serif;
                    width: 50%;
                    border: none;
                    margin-left: 20px ;
                }
                .fieldset-Newsletter div.item-formulario input#txtFNac {
                    width: 40%;
                    
                }
                .fieldset-Newsletter div input#casillas {
                    width: 10%;
                }
                .fieldset-Newsletter input.envio-Newsletter  {
                    margin-top: 10px;
                    padding:5px;
                    width:25%;
                    background-color: #cdcbb4;
                    border-radius: 10%;
                    border: #cdcbb4 1px solid;
                    align-self: center;
                }            
            
    .footer {
        /* background: #f7f7f7; */
        background: rgba(67, 64, 64, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        padding: 3vh;;
    }
        .subtitulo{
            font-size: 0.9em;
            width: 80%;
        }
        .subtitulo span {
            font-family: adelia;
            font-size: 1em;
        }
        .social {
            display: flex;
        }
            .social a{
                flex: 1 1 auto;
                font-size: 1.5em;
                color:#6e43ee;
                padding: 0 10px;
            }
            .social a:hover {
                color: rgb(97, 206, 231); 
                font-weight: bolder;
                text-shadow: black 0.1em 0.1em 0.2em
            }
        
    

 /* MEDIA QUERY  */
@media all and (max-width: 1120px) {
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column nowrap;
        height: auto;
    }
    .aside {
        display:flex;
        justify-content: center;
    }
    h1{
        font-size:15px;
    }
    .texto-principal {
        height: 450px;
    }
}

@media all and (max-width: 950px) {
    .nav-header ul li {
        flex-direction: row;
    }
    .aside {
        display:flex;
        justify-content: center;
    }
    h1{
        font-size:15px;
    }
    .texto-principal {
        height: 450px;
    }
    .form-Newsletter {
        width: 50%;
    }
    
}

@media all and (max-width: 750px) {
    .menu {
        flex-direction: column;
        height: auto;
    }
    .articulos {
        flex-direction: column;
    }
    .off {
        display: none;
    }
    .nav a {
        font-size: 20px;
    }
    .nav-header ul li ul {
        display:none;
        position: absolute;
        width: fit-content;
        padding: 10px;
    }
    .nav-header ul li ul li {
        padding: 1px;
        text-align: left;
    }
    
    .form-Newsletter {
        width: 60%;
    }
    .fieldset-Newsletter input.envio-Newsletter  {
        width:50%;
    }  
}

@media all and (max-width: 600px) {
    .aside {
        flex-direction: column;
    }
    .form-Newsletter {
        width: 80%;
    }
    .fieldset-Newsletter input.envio-Newsletter  {
        width:35%;
    }            
}

